body{
    width:100%;
    height:100%;
    font-family: Arial;
    width:60%;
    margin:auto;
    text-align: center;
    background-color: #f8f8f8;
}

.biggest-heading{
    margin: 3% 0 10% 0;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

.icons-parent{
    
    display:flex; 
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 5%;
    
}

/* make 3 icons per row */
.icons-parent > div {
    width:30%;
    height:30%;
    margin-bottom:15%;
}

.icons-size{

    width:65%;
    height:65%;
}


.icon-heading{
    font-size: 1.5em;
    font-weight:bold;
}

.yellow-box{
    text-align: left;
    background-color: 
    #ffff70;
    padding: 3% 0% 3% 5%;
}

.yellow-box > div{

    display:inline-block;
}

.yellow-heading{
    font-size: 2.5em;
    font-weight:bold;
    margin: 0 0 2% 0
}
#unswrox{
    background-color: purple;
    color:white
}

/* block of 2 black-icons, make text section's width longer than icon section*/
#black-icon{
    width:35%;
}

/* position inside black icon */
.black-icon-position{
    height: 20%;
    width: 45%;
}

.yellow-text{
    width:60%;
    margin-right:3%;
}

#unswrox:hover{
    opacity:0.7
}

.icon *:hover {

    opacity:0.5
}

/* webpage style for screen less than 500 px */
@media (max-width: 1000px) {
    /* one icon per row */
    .icons-parent > div{
        width: 90%;
        height:90%;
        margin-bottom:15%;
    }

    .yellow-box{
        
        width:60%;
        text-align: left;
        background-color: yellow;
        padding: 3% 0% 3% 10%;
        margin: 0 0 0 10%
        
    }

    /* make text and black icon shown in column */
    .yellow-box > div{
        height:30%;
        width:90%;
        display:block;
    }


    #black-icon{
        height:20%;
        width:90%;
    }
    .black-icon-position{
        height: 40%;
        width: 80%;
    }
    
}
