/* add some common features used in graph*/
body{
    font-family: Arial;
    font-size: 1.1em;
    
    line-height:1.6;
    word-spacing:0.1em;
}

/* parent boxes of text-info and koala-info*/
.beginner{
    display:flex;
    height: 170px;
    margin:0px 5px 30px 45px;
    
}

/* features of text in the top right of the page*/
.text-info{
    width:70%;
    
    border:none;
    margin:0 25px 5px 0px;
}

/* features of small gray box near the text-info*/
.koala-info {
    width:28%;
    
    background-color:rgba(245, 244, 244, 0.769);
    
    margin:0px 5px 5px 0px;
    padding: 0 0 0 5px;
    color:gray;

}

/* make the space between paragraph disappear*/
.koala-info > p {

    margin:0 0 0 30px;
}

.yellow-title{
    background-color: #f6d14b;
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0 15px 12px;
    padding:10px 0 10px 35px;
    width: 18%;
    height:35px;
}

/*features of the text under yellow title*/
.text-scene{
    margin:5px 5px 35px 45px;
    padding: 0 0 20px 0;
}
