/* make a 420 * 699 px vieport */
.background{
    width:420px;
    height:699px;
    margin:0 0 0 0;
    display:flex;
    align-items:stretch;
}

/* make dark blue backgound box with column direction*/
.blue-dark{
    height:100%;
    width:35px;
    background-color: rgb(4, 29, 67);
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:3px;
}

/* make light blue backgound box with column direction*/
.blue-light{
    height:100%;
    width:35px;
    background-color: rgb(26, 80, 146);
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:3px;
}

/* make red box at the bottom of background box*/
.red-box{
    width:32px;
    height:32px;
    background-color: rgb(233, 71, 66);
    margin: 0 0 0 2px;
}

/* make purple box*/
.purple-box{
    width:32px;
    height:32px;
    background-color: rgb(148, 75, 243);
    margin: 0 2px 0 2px;
}

/*use dark box to move purple box with dark blue background*/
.dark-box{
    width:32px;
    height:250px;
    background-color: rgb(4, 29, 67);
}

/*use light box to move purple box with light blue background*/
.light-box{
    width:32px;
    height:215px;
    background-color: rgb(26, 80, 146);

}

/* add small triangle to red boxes*/
.red-box::before{
    content:'';
    display:block;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fbfbfb;

    margin:2px 0 0 2px;
}

/* add small triangle to purple boxes*/
.purple-box::before{
    content:'';
    display:block;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fbfbfb;

    margin:2px 0 0 2px;
}